body{

	background-color: #EEEEEE;
}
form{

	background-color: grey;
    border:1px solid grey;
    width: 40%;
    height: 50%;
    text-align: center;
    margin-left: 40px; 
    margin-left: 30%;
    margin-top: 10%;
}
h2{

	text-align: center;
	margin-top: 10%;
}
p{
	text-align: center;
}
input[type=text]{

	padding: 8px;
	width: 50%;
}
button{

	background-color: #2D6CA2;
	border:none;
	color: white;
	margin-bottom: 40px;
	width: 50%;
	padding:10px;
	text-align: center;
}