body{
    background-color:  #2D6CA2;
}

form{

    background-color: white;
    border:1px solid grey;
    width: 40%;
    height: 50%;
    text-align: center;
    margin-left: 40px; 
    margin-left: 30%;
    margin-top: 10%;
}
input[type=text],input[type=password]{

    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border:1px solid grey;
    margin: 6px 0;
    padding: 8px;
}

.container{

    width: 50%;
    height: 300px;
    padding: 40px;
    margin-left:20%;
    margin-top: 50px;
    text-align: center;

}
button{

    background-color: #2D6CA2;
    color: white;
    border:none;
    padding: 14px 20px;
    width: 100%;
    cursor: pointer;
}
a:link{
  

}
button:hover{

    opacity: 0.8;
}